@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="defaultForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" value="${item.id}" underline="true"/>
                            <#input id="clubId" name="俱乐部id" value="${item.clubId}" underline="true"/>
                            <#input id="title" name="合同名称" value="${item.title}" underline="true"/>
                            <#input id="type" name="合同类型 1时间卡合同  2私教卡合同 3次卡合同" value="${item.type}" />
                </div>

                <div class="col-sm-6">
                            <#input id="contractNum" name="合同编号" value="${item.contractNum}" underline="true"/>
                            <#input id="hidden" name="是否隐藏" value="${item.hidden}" underline="true"/>
                            <#input id="insertTime" name="添加时间" value="${item.insertTime}" underline="true"/>
                            <#input id="content" name="合同正文" value="${item.content}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClubContractInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClubContractInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/club/clubContract/clubContract_info.js"></script>
@}
