@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="defaultForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="会员id" value="${item.id}" underline="true"/>
                            <#input id="passwd" name="会员密码" value="${item.passwd}" underline="true"/>
                            <#input id="clubId" name="俱乐部id" value="${item.clubId}" underline="true"/>
                            <#input id="realname" name="姓名" value="${item.realname}" underline="true"/>
                            <#input id="nickname" name="昵称" value="${item.nickname}" underline="true"/>
                            <#input id="avatar" name="会员头像" value="${item.avatar}" underline="true"/>
                            <#input id="gender" name="会员性别（0：女，1：男）" value="${item.gender}" underline="true"/>
                            <#input id="phone" name="手机号" value="${item.phone}" underline="true"/>
                            <#input id="country" name="国家号码编号" value="${item.country}" />
                </div>

                <div class="col-sm-6">
                            <#input id="weixinOpenid" name="" value="${item.weixinOpenid}" underline="true"/>
                            <#input id="weixinUnionid" name="微信用户统一标识" value="${item.weixinUnionid}" underline="true"/>
                            <#input id="weixinInfo" name="微信用户相关信息" value="${item.weixinInfo}" underline="true"/>
                            <#input id="loginNum" name="登录次数" value="${item.loginNum}" underline="true"/>
                            <#input id="regIp" name="用户注册IP" value="${item.regIp}" underline="true"/>
                            <#input id="insertTime" name="添加时间" value="${item.insertTime}" underline="true"/>
                            <#input id="lastActiveTime" name="上次活动时间" value="${item.lastActiveTime}" underline="true"/>
                            <#input id="labels" name="用户标签" value="${item.labels}" underline="true"/>
                            <#input id="virtual" name="是否系统虚拟用户" value="${item.virtual}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserCommonInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserCommonInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/member/userCommon/userCommon_info.js"></script>
@}
