<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.UserPotentialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.UserPotential">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="club_id" property="clubId" />
        <result column="realname" property="realname" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="coach_id" property="coachId" />
        <result column="coach_name" property="coachName" />
        <result column="membership_id" property="membershipId" />
        <result column="membership_name" property="membershipName" />
        <result column="remark" property="remark" />
        <result column="is_import" property="isImport" />
        <result column="last_maintain_record" property="lastMaintainRecord" />
        <result column="last_maintain_time" property="lastMaintainTime" />
        <result column="insert_time" property="insertTime" />
        <result column="source_id" property="sourceId" />
        <result column="source_name" property="sourceName" />
        <result column="label_levels" property="labelLevels" />
        <result column="is_vip_user" property="isVipUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, club_id AS clubId, realname, nickname, avatar, gender, phone, coach_id AS coachId, coach_name AS coachName, membership_id AS membershipId, membership_name AS membershipName, remark, is_import AS isImport, last_maintain_record AS lastMaintainRecord, last_maintain_time AS lastMaintainTime, insert_time AS insertTime, source_id AS sourceId, source_name AS sourceName, label_levels AS labelLevels, is_vip_user AS isVipUser
    </sql>

</mapper>
