@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="defaultForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="clubId" name="俱乐部id" value="${item.clubId}" underline="true"/>
                            <#input id="syllabusId" name="课程id" value="${item.syllabusId}" underline="true"/>
                            <#input id="syllabusName" name="课程名称" value="${item.syllabusName}" underline="true"/>
                            <#input id="groupId" name="课程种类id" value="${item.groupId}" underline="true"/>
                            <#input id="vipId" name="用户id" value="${item.vipId}" underline="true"/>
                            <#input id="realname" name="姓名" value="${item.realname}" underline="true"/>
                            <#input id="phone" name="手机号" value="${item.phone}" underline="true"/>
                            <#input id="classroomId" name="教室id" value="${item.classroomId}" underline="true"/>
                            <#input id="seatNumber" name="座位号" value="${item.seatNumber}" underline="true"/>
                            <#input id="classStartTime" name="上课开始时间" value="${item.classStartTime}" underline="true"/>
                            <#input id="classEndTime" name="上课结束时间" value="${item.classEndTime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="cardType" name="卡类型" value="${item.cardType}" underline="true"/>
                            <#input id="cardId" name="卡id" value="${item.cardId}" underline="true"/>
                            <#input id="cardDeductNum" name="扣除次数" value="${item.cardDeductNum}" underline="true"/>
                            <#input id="coachId" name="所属教练ID" value="${item.coachId}" underline="true"/>
                            <#input id="coachName" name="所属教练名称" value="${item.coachName}" underline="true"/>
                            <#input id="MembershipId" name="会籍ID" value="${item.MembershipId}" underline="true"/>
                            <#input id="MembershipName" name="会籍名称" value="${item.MembershipName}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" underline="true"/>
                            <#input id="insertTime" name="预约时间" value="${item.insertTime}" underline="true"/>
                            <#input id="userType" name="预约人类型 0非会员 1vip会员 2私教会员 " value="${item.userType}" underline="true"/>
                            <#input id="status" name="当前预约状态，0正常 1未确认 2已确认 3学员已取消 4 教练已取消" value="${item.status}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SyllabusSubscribeRecordInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SyllabusSubscribeRecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/syllabus/syllabusSubscribeRecord/syllabusSubscribeRecord_info.js"></script>
@}
