@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="defaultForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" underline="true"/>
                            <#input id="clubId" name="俱乐部id" underline="true"/>
                            <#input id="name" name="积分项目英文名" underline="true"/>
                            <#input id="title" name="积分项目中文名"/>
                </div>

                <div class="col-sm-6">
                            <#input id="dayTimes" name="每日可赠送次数" underline="true"/>
                            <#input id="type" name=" 赠送方式,0赠送固定数 1按消费额赠送" underline="true"/>
                            <#input id="num" name="赠送数量" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SettingPointsItemInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SettingPointsItemInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/setting/settingPointsItem/settingPointsItem_info.js"></script>
@}
