@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="defaultForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="clubId" name="俱乐部id" underline="true"/>
                            <#input id="subscribeStartTime" name="预约开始时间（秒）" underline="true"/>
                            <#input id="subscribeEndTime" name="预约结束时间"/>
                </div>

                <div class="col-sm-6">
                            <#input id="notEnoughCancelTime" name="人数不足自动取消时间" underline="true"/>
                            <#input id="selfCancelTime" name="会员自主取消时间" underline="true"/>
                            <#input id="startDate" name="团操课查看开始时间戳" underline="true"/>
                            <#input id="endDate" name="团操课查看结束时间戳" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SettingSyllabusInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SettingSyllabusInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/setting/settingSyllabus/settingSyllabus_info.js"></script>
@}
