@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="defaultForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="广告位置id" underline="true"/>
                            <#input id="clubId" name="俱乐部ID" underline="true"/>
                            <#input id="name" name="广告位置名" underline="true"/>
                            <#input id="class" name="广告类别：0图片1文字2幻灯3Flash" underline="true"/>
                            <#input id="display" name="广告展示方式：0幻灯片1多广告展示2单广告展示"/>
                </div>

                <div class="col-sm-6">
                            <#input id="enable" name="广告位是否启用：0不启用1启用" underline="true"/>
                            <#input id="width" name="广告位宽度" underline="true"/>
                            <#input id="height" name="广告位高度" underline="true"/>
                            <#input id="clickNum" name="广告位点击数" underline="true"/>
                            <#input id="defaultContent" name="广告位默认内容" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ClubAdvPositionInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ClubAdvPositionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/club/clubAdvPosition/clubAdvPosition_info.js"></script>
@}
