<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.CardStoredvaluecardSpendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.CardStoredvaluecardSpend">
        <id column="id" property="id" />
        <result column="club_id" property="clubId" />
        <result column="card_id" property="cardId" />
        <result column="card_number" property="cardNumber" />
        <result column="title" property="title" />
        <result column="user_id" property="userId" />
        <result column="realname" property="realname" />
        <result column="spend_money" property="spendMoney" />
        <result column="insert_time" property="insertTime" />
        <result column="rcepteion_id" property="rcepteionId" />
        <result column="rcepteion_name" property="rcepteionName" />
        <result column="coach_id" property="coachId" />
        <result column="coach_name" property="coachName" />
        <result column="membership_id" property="membershipId" />
        <result column="membership_name" property="membershipName" />
        <result column="ope_user_id" property="opeUserId" />
        <result column="ope_username" property="opeUsername" />
        <result column="phone" property="phone" />
        <result column="remark" property="remark" />
        <result column="bankremark" property="bankremark" />
        <result column="card_status" property="cardStatus" />
        <result column="port" property="port" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, club_id AS clubId, card_id AS cardId, card_number AS cardNumber, title, user_id AS userId, realname, spend_money AS spendMoney, insert_time AS insertTime, rcepteion_id AS rcepteionId, rcepteion_name AS rcepteionName, coach_id AS coachId, coach_name AS coachName, membership_id AS membershipId, membership_name AS membershipName, ope_user_id AS opeUserId, ope_username AS opeUsername, phone, remark, bankremark, card_status AS cardStatus, port
    </sql>

</mapper>
